# ============================================
# MULTI-TENANT CADDYFILE (NO SSL/TLS)
# DNS resolution: Caddy uses Docker container names
# ============================================
{
	# Disable automatic HTTPS completely
	auto_https off

	servers {
		trusted_proxies static private_ranges
	}
}

# ================= SAAS LANDING DOMAIN ===========================

# tabeshelecshop.ir is tenant store domain, it must be main saas domain
api.tabeshelecshop.ir:80 {
	reverse_proxy medusa:9000
}

tabeshelecshop.ir:80, www.tabeshelecshop.ir:80 {
	# reverse_proxy medusa_storefront:8000/saas {
	# 	# Add X-Store-Id header from subdomain
	# 	header_up X-Store-Id "store_01KX1MP5CVCT65E2J2C934N6V9"
	# }
}

registry.tabeshelecshop.ir:80, tabeshelecshop.ir:80/registry {
	reverse_proxy registry:5000
	request_body {
		max_size 3GB
	}
}

registry-ui.tabeshelecshop.ir:80 {
	reverse_proxy registry-ui:80
}

s3.tabeshelecshop.ir:80 {
	handle_path /upload/* {
		# handle_path automatically removes /upload from the path
		# Then we add the bucket name
		rewrite /medusabucket{path}

		reverse_proxy rustfs:3900 {
			header_up Host {host}
		}
	}

	reverse_proxy rustfs:3900
}

# ========== SUBDOMAIN / DOMAIN TENANTS ==========
mysaas.test:80, www.mysaas.test:80 {
	# Enable debug logging
	log {
		output stdout
		level DEBUG
	}
	vars store_id "store_01KX1MP5CVCT65E2J2C934N6V9"

	# Rewrite every request so that / becomes /blog and /post → /blog/post

    reverse_proxy medusa_storefront:8000 {
        # Critical headers so Next.js sees the real host
        header_up Host {host}
        header_up X-Forwarded-Host {host}
        header_up X-Forwarded-Proto {scheme}
        header_up X-Real-IP {remote_host}
        header_up X-Store-Id {vars.store_id}
    }
}
